Package: org.thebigboss.listlauncher7
Name: ListLauncher7
Depends: mobilesubstrate, applist
Architecture: iphoneos-arm
Description: Lunch apps fast!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Version: 1.1-38
Installed-Size: 168
