Package: org.thebigboss.listlauncher7
Name: ListLauncher7
Depends: mobilesubstrate, applist
Architecture: iphoneos-arm
Description: Launch apps fast!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Icon: file:///Library/PreferenceBundles/ListLauncherPref.bundle/icon.png
Version: 1.1-56
Installed-Size: 184
