Package: com.twodayslate.listlauncher7
Name: ListLauncher7
Depends: mobilesubstrate, applist
Version: 1.0-1
Architecture: iphoneos-arm
Description: Lunch apps fast!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Installed-Size: 72
