Package: org.thebigboss.listlauncher7
Name: ListLauncher7
Depends: mobilesubstrate, applist
Version: 1.21
Architecture: iphoneos-arm
Description: Launch apps fast!
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Icon: file:///Library/PreferenceBundles/ListLauncherPref.bundle/icon.png