Package: org.thebigboss.searchlight
Name: Searchlight
Depends: mobilesubstrate, applist
Conflict: com.mattcmultimedia.clearonopen
Version: 1.04
Architecture: iphoneos-arm
Description: System search and applicaiton launcher
Maintainer: twodayslate
Author: twodayslate
Section: Tweaks
Icon: file:///Library/PreferenceBundles/searchlightpreferences.bundle/icon.png