<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Logging</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.listlauncher7</string>
			<key>key</key>
			<string>logging_enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.listlauncher7/settingschanged</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Auto-Hide Keyboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.listlauncher7</string>
			<key>key</key>
			<string>hide_keyboard</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.listlauncher7/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Select all text on launch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.listlauncher7</string>
			<key>key</key>
			<string>selectall</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.listlauncher7/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>More Tweaks!</string>
			<key>icon</key>
			<string>more.png</string>
			<key>detail</key>
			<string>LLTweakListController</string> <!-- AboutController brings up teh standard about page -->
		</dict>
	</array>
	<key>title</key>
	<string>About</string>
</dict>
</plist>