<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Extensions</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>SearchSettings</string>
			<key>label</key>
			<string>Enabled Results</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Replace Notification Center Gesture</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.searchlight</string>
			<key>key</key>
			<string>nc_replace_enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.searchlight/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enable on Lockscreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.searchlight</string>
			<key>key</key>
			<string>ls_enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.searchlight/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Disable Keyboard on Launch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.searchlight</string>
			<key>key</key>
			<string>hide_keyboard</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.searchlight/settingschanged</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Force Rotation</string>
			<key>footerText</key>
			<string>Experimental. This will run zero-rotation code if disabled.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>org.thebigboss.searchlight</string>
			<key>key</key>
			<string>rotation_enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.searchlight/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Clear results on launch</string>
			<key>footerText</key>
			<string>Always start fresh with no search results. </string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.searchlight</string>
			<key>key</key>
			<string>clearResults</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.searchlight/settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Scroll to top on launch</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.searchlight</string>
			<key>key</key>
			<string>scrollTop</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.searchlight/settingschanged</string>
		</dict>


		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Logging</string>
			<key>footerText</key>
			<string>Enable this to assist with crash reports and/or the beta.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>org.thebigboss.searchlight</string>
			<key>key</key>
			<string>logging_enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>org.thebigboss.searchlight/settingschanged</string>
		</dict>

	</array>
	<key>title</key>
	<string>Behavior</string>
</dict>
</plist>